{% extends 'rentalsystem/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h2> Borrowing {{list_details.item_type_id.name}}</h2>

                    <form action='/create_transaction/' method='POST'>
                    {% csrf_token %}
                    <p>Start Date: </p>
{#                    <input type="date" class="form-control" id="date" value="{{placement.date|date:"Y-m-d" }}">#}
                        <input id="StartDate" name="date" value="">
                    <p>End Date: </p>
{#                    <input id="EndDate" name="date2" value="{{placement.date|date:"Y-m-d" }}" >#}
                        <input id="EndDate" name="date1" value="">
                        <p>Cost per day: </p>
                    <input id="Cost" name="cost" >
                    <button class="btn btn-success center-block" value="Submit">Submit</button>
                </form>

    <h4>{{info}}</h4>
        <h4>{{info1}}</h4>
    <h4>{{info2}}</h4>

  <script>
    $(function () {
      $("#StartDate").datepicker({
          format: 'yyyy-mm-dd',
      });
    });
  </script>
  <script>
    $(function () {
      $("#EndDate").datepicker({
          format: 'yyyy-mm-dd',
      });
    });
  </script>

{% endblock %}

