{% extends 'rentalsystem/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h2> {{ list_details.item_type_id.name }}</h2>





    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img class="card rounded-circle account-img" style="width:400px"
                     src="{{ user.profile.image.url }}">
            </div>
            <div class="col-sm">
                <form action='/play/' method='POST'>
                    {% csrf_token %}
                    <p>Username: <b>{{ user.username }}</b></p>
                    <input id="StartDate" name="username" value="">

                    <p>Email: <b>{{ user.email }}</b></p>
                    <input id="EndDate" name="email" value="">

                    <p>Region: <b>{{ user.region }}</b></p>
                    <input id="Costl" name="region">

                    <p>Name: <b>{{ user.name }}</b></p>
                    <input id="Costu" name="name">

                    <p>Card number: <b>{{ user.card_long_number }}</b></p>
                    <input id="Costfg" name="Card number">

                    <p>Card expiry date: <b>{{ user.card_expiry_date }}</b></p>
                    <input id="Costd" name="Card expiry date">

                    <p>Card cvv: <b>{{ user.card_cvv }}</b></p>
                    <input id="Costa" name="Card cvv">

                    <button class="btn btn-success center-block" value="Submit">Submit</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}