{% extends 'rentalsystem/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h2> {{ list_details.item_type_id.name }}</h2>
    <style>
        .asd {
            position: relative;
            margin-top: 50px;
            width: 500px;
            height: 300px;
        }

        .fagg {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0);
            transition: background 0.5s ease;
        }

        .asd:hover .overlay {
            display: block;
            background: rgba(0, 0, 0, .3);
        }


        .asd:hover .title {
            top: 90px;
        }

        .button {
            position: absolute;
            width: 500px;
            left: 110px;
            top: 180px;
            text-align: center;
            opacity: 0;
            transition: opacity .35s ease;
        }

        .button a {
            font-weight: bold;
            font-size: 20px;
            width: 200px;
            padding: 12px 48px;
            text-align: center;
            color: black;
            border: solid 2px black;
            z-index: 1;
            background: #f90;
        }

        .asd:hover .button {
            opacity: 1;
        }

        .asda {
            top: 500px;
            position: absolute;
            width: 500px;
            right: 200px;
            text-align: center;
        }


    </style>

    <div class="container">
        <div class="row">
            <div class="col-sm">

                <form action='/upload_pic/' method="post" enctype="multipart/form-data">{% csrf_token %}
                    <p>
                    <div class="asd">
                        <img class="fagg card rounded-circle account-img" style="width:400px"
                             src="{{ user.profile.image.url }}">
                        <input id="id_image" type="file" class="button" name="image" value="pick">
                    </div>
                    </p>
                    <div class="asda">
                        <input class="btn btn-success center-block" type="submit" value="Change picture"/>
                    </div>
                </form>

            </div>
            <div class="col-sm">
                <form action='/account_details/' method='POST'>
                    {% csrf_token %}
                    <p><b>Username</b></p>
                    <input id="StartDate" name="username" value={{ user.username }}>
                    <P></P>
                    <p><b>Email</b></p>
                    <input id="EndDate" name="email" value={{ user.email }}>
                    <P></P>
                    <p><b>Region</b></p>
                    <input id="Costl" name="region" value={{ user.region }}>
                    <P></P>
                    <p><b>Card number</b></p>
                    <input id="Costfg" name="Card number" value={{ user.card_long_number }}>
                    <P></P>
                    <p><b>Card expiry date</b></p>
                    <p>{{ user.card_expiry_date }}</p>
                    <input id="Costd" type="date" name="Card expiry date">
                    <P></P>
                    <p><b>Card cvv</b></p>
                    <input id="Costa" name="Card cvv" value={{ user.card_cvv }}>
                    <P></P>
                    <button class="btn btn-success btn-lg center-block" value="Submit">Submit</button>
                    <P></P>
                </form>
                <form action='/leave/' method='POST'>
                    {% csrf_token %}
                    <button class="btn btn-danger btn-lg center-block">Leave</button>
                </form>


            </div>
        </div>
    </div>
    {% if controller == True %}
        <script>alert("Pick an image first");</script>{% endif %}




{% endblock %}