{% extends 'rentalsystem/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
 <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Categories</h1>

        <div class="list-group mb-32">

          <form class="searchBar" action="/home_search/" method="get">
            <input type="text" name="search_query" placeholder="Search">
            <button type="submit" value="Search"><i class="fas fa-search"></i></button>
          </form>

            {% for category in categories %}
            <!--<a href="" class="list-group-item">{{ category }}</a> -->
            <form  action='/home_search/' method='POST'>
                {% csrf_token %}
                <input type="hidden" name="catPk" value="{{category.id}}">
                <button class="btn-outline-secondary btn-sm btn-block">{{category}}</button>
            </form>
            {%  endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">


        <div class="row">
            {%  for item in items %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/item_listings?query_name={{ item|urlencode }}"><img class="card-img-top" src="{{ item.image.url }}" height="200" width="auto"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/item_listings?query_name={{ item|urlencode }}">{{ item }}</a>
                </h4>
                  {% if item.lowest_cost != None %}
                    <h5 class="text-success">£{{item.lowest_cost}}</h5>
                  {% else %}
                    <h5 class="text-danger">Currently Out Of Stock</h5>
                  {% endif %}
              <div class="card-title">
                      {% if item.average_rating == 0 %}
                          <i>Not Rated</i>
                      {% endif %}
                      {% if item.average_rating == 1 %}
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      {% endif %}
                      {% if item.average_rating == 2%}
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      {% endif %}
                      {% if item.average_rating == 3%}
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                      {% endif %}
                      {% if item.average_rating == 4%}
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star"></span>
                      {% endif %}
                      {% if item.average_rating == 5 %}
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star" style="color:orange"></span>
                          <span class="fa fa-star" style="color:orange"></span>
                      {% endif %}
              </div>

              <div style="overflow-y: auto; height: 150px">
                <p class="card-text">{{ item.info }}</p>
              </div>

              </div>
            </div>
          </div>
            {%  endfor %}
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}
