{% extends 'rentalsystem/base.html' %}

{% block title %}My Jobs{% endblock %}

{% block content %}




    <!-- Tab links -->

    <div class="tab" style="margin-top: -2em">
        <button class="btn" onclick="openStatsTab(event, 'punctuality')" id="defaultOpen">Punctuality</button>
        <button class="btn" onclick="openStatsTab(event, 'allocation')" id="">Upcoming Job Allocation</button>
    </div>

    <!-- Previous Jobs-->
    <div id="punctuality" class="tabcontent bg-light">

        <div class="row">
            <div class="col-md-6" style="height:20em">
                <div class="row">

                    <div class="col-md-12" style="margin-top: 20%; margin-left: 1em;">
                        <h2>Punctuality Statistics For <span style="color:dodgerblue">{{ searched_region }}</span>, <span style="color:dodgerblue">{{ day_sort }}</span></h2>
                    </div>

                </div>


                <div class="row" style="position: absolute; bottom: 0;">
                    <div class="col-md-12" style="margin-top: 1em; margin-left: 1em;">
                        <form action='/jobstats/' method='POST'>
                            {% csrf_token %}
                            {#        <input type="text" id="region" name="region">#}
                            <select name="region">
                                <option value="All" selected="selected">All Regions</option>
                                <option value="Bedfordshire">Bedfordshire</option>
                                <option value="Berkshire">Berkshire</option>
                                <option value="Bristol">Bristol</option>
                                <option value="Buckinghamshire">Buckinghamshire</option>
                                <option value="Cambridgeshire">Cambridgeshire</option>
                                <option value="City of London">City of London</option>
                                <option value="Cheshire">Cheshire</option>
                                <option value="County Durham">County Durham</option>
                                <option value="Cornwall">Cornwall</option>
                                <option value="Cumbria">Cumbria</option>
                                <option value="Derbyshire">Derbyshire</option>
                                <option value="Devon">Devon</option>
                                <option value="Dorset">Dorset</option>
                                <option value="East Sussex">East Sussex</option>
                                <option value="Essex">Essex</option>
                                <option value="Gloucestershire">Gloucestershire</option>
                                <option value="Greater London">Greater London</option>
                                <option value="Greater Manchester">Greater Manchester</option>
                                <option value="Hampshire">Hampshire</option>
                                <option value="Herefordshire">Herefordshire</option>
                                <option value="Hertfordshire">Hertfordshire</option>
                                <option value="Isle of Wight">Isle of Wight</option>
                                <option value="Kent">Kent</option>
                                <option value="Lancashire">Lancashire</option>
                                <option value="Leicestershire">Leicestershire</option>
                                <option value="Lincolnshire">Lincolnshire</option>
                                <option value="Merseyside">Merseyside</option>
                                <option value="Norfolk">Norfolk</option>
                                <option value="Northamptonshire">Northamptonshire</option>
                                <option value="Northumberland">Northumberland</option>
                                <option value="North Yorkshire">North Yorkshire</option>
                                <option value="Nottinghamshire">Nottinghamshire</option>
                                <option value="Oxfordshire">Oxfordshire</option>
                                <option value="Rutland">Rutland</option>
                                <option value="Shropshire">Shropshire</option>
                                <option value="Somerset">Somerset</option>
                                <option value="South Yorkshire">South Yorkshire</option>
                                <option value="Staffordshire">Staffordshire</option>
                                <option value="Suffolk">Suffolk</option>
                                <option value="Surrey">Surrey</option>
                                <option value="Warwickshire">Warwickshire</option>
                                <option value="West Midlands">West Midlands</option>
                                <option value="West Sussex">West Sussex</option>
                                <option value="West Yorkshire">West Yorkshire</option>
                                <option value="Wiltshire">Wiltshire</option>
                                <option value="Worcestershire">Worcestershire</option>
                            </select>
                            <select name="days">
                                <option value="1 day">1 day</option>
                                <option value="1 week">1 week</option>
                                <option value="2 weeks">2 weeks</option>
                                <option value="1 month">1 month</option>
                                <option value="All time" selected="selected">All time</option>
                            </select>
                            <button class="btn btn-primary btn-sm">Filter by region</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center" style=" width:70%;padding-right: 15%;">
                {% if on_time_jobs_count > 0 or late_jobs_count > 0%}
                    <div id="on_time_vs_late" style="height: 300px; width: 100%;"></div>
                {% else %}
                    <h4 style="margin-top: 40%">No Data To Show</h4>
                {% endif %}
            </div>
        </div>



        <div class="container" style="margin-top:0.5em;">
            <div class="row">
                <div class="col-sm">
                    {#  ONTIME JOBS  #}
                    <div class="text-white bg-success mb-3" style="overflow-y: scroll; height:400px;">
                        <div class="card-header">
                        <h10 class="card-title">{{ on_time_jobs_count }} Jobs Completed On-Time</h10>
                            <i style="margin-left: 15px" class="text-dark small">Ordered by completion date</i>
                        </div>
                        <div class="card-body">
                            {% if on_time_jobs.count > 0 %}
                                <table class="table bg-success" style="border-top: none">
                                    <tr style="border:none">
                                        <th class="text-center"> JOB ID</th>
                                        <th class="text-center"> PRODUCT</th>
                                        <th class="text-center"> CUSTOMER</th>
                                        <th class="text-center"> DELIVERED</th>
                                        <th class="text-center"> STAFF</th>
                                    </tr>
                                    {% for job in on_time_jobs %}
                                        <tr>
                                            <td class="text-white text-center"><a class="text-white" href="/admin/rentalsystem/job/{{job.id}}/"><u> {{ job.id }} </u></a></td>
                                            <td class="text-white text-center">  {{ job.transaction_id.item_id }} </td>
                                            <td class="text-white text-center">  {{ job.transaction_id.renter_id }} </td>
                                            <td class="text-white text-center">  {{ job.delivered_datetime }} </td>
                                            <td class="text-white text-center">  {{ job.job_list_id.staff_id }} </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>

                    {#  LATE JOBS  #}
                    <div class="text-white bg-warning mb-3" style="overflow-y: scroll; height:400px;">
                        <div class="card-header">
                            <h10 class="card-title">{{ late_jobs_count }} Late job(s)</h10>
                            <i style="margin-left: 15px" class="text-dark small">Ordered by completion date</i>
                        </div>
                        <div class="card-body">
                            {% if late_jobs_count > 0 %}
                                <table class="table bg-warning" style="border-top: none">
                                    <tr style="border:none">
                                        <th class="text-center"> JOB ID</th>
                                        <th class="text-center"> PRODUCT</th>
                                        <th class="text-center"> CUSTOMER</th>
                                        <th class="text-center"> DUE DELIVERY</th>
                                        <th class="text-center"> DELIVERED</th>
                                        <th class="text-center"> STAFF</th>
                                    </tr>
                                    {% for job in late_jobs %}
                                        <tr>
                                            <td class="text-white text-center"><a class="text-white" href="/admin/rentalsystem/job/{{job.id}}/"><u>  {{ job.id }} </u></a></td>
                                            <td class="text-white text-center">  {{ job.transaction_id.item_id }} </td>
                                            <td class="text-white text-center">  {{ job.transaction_id.renter_id }} </td>
                                            <td class="text-white text-center">  {{ job.due_delivery_datetime }} </td>
                                            <td class="text-danger text-center">  {{ job.delivered_datetime }} </td>
                                            <td class="text-white text-center">  {{ job.job_list_id.staff_id }} </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>








{#----------------------------------------------#}

    {#  Upcoming jobs with allocation  #}
     <!-- Previous Jobs-->
    <div id="allocation" class="tabcontent bg-light">

        <div class="row">
            <div class="col-md-6" style="height:20em">
                <div class="row">

                    <div class="col-md-12" style="margin-top: 20%; margin-left: 1em;">
                        <h2>Undelivered/Unallocated Jobs in <span style="color:dodgerblue">{{ searched_region }}</span>, <span style="color:dodgerblue">{{ day_sort }}</span></h2>
                    </div>

                </div>


                <div class="row" style="position: absolute; bottom: 0;">
                    <div class="col-md-12" style="margin-top: 1em; margin-left: 1em;">
                        <form action='/jobstats/' method='POST'>
                            {% csrf_token %}
                            {#        <input type="text" id="region" name="region">#}
                            <select name="region">
                                <option value="All" selected="selected">All Regions</option>
                                <option value="Bedfordshire">Bedfordshire</option>
                                <option value="Berkshire">Berkshire</option>
                                <option value="Bristol">Bristol</option>
                                <option value="Buckinghamshire">Buckinghamshire</option>
                                <option value="Cambridgeshire">Cambridgeshire</option>
                                <option value="City of London">City of London</option>
                                <option value="Cheshire">Cheshire</option>
                                <option value="County Durham">County Durham</option>
                                <option value="Cornwall">Cornwall</option>
                                <option value="Cumbria">Cumbria</option>
                                <option value="Derbyshire">Derbyshire</option>
                                <option value="Devon">Devon</option>
                                <option value="Dorset">Dorset</option>
                                <option value="East Sussex">East Sussex</option>
                                <option value="Essex">Essex</option>
                                <option value="Gloucestershire">Gloucestershire</option>
                                <option value="Greater London">Greater London</option>
                                <option value="Greater Manchester">Greater Manchester</option>
                                <option value="Hampshire">Hampshire</option>
                                <option value="Herefordshire">Herefordshire</option>
                                <option value="Hertfordshire">Hertfordshire</option>
                                <option value="Isle of Wight">Isle of Wight</option>
                                <option value="Kent">Kent</option>
                                <option value="Lancashire">Lancashire</option>
                                <option value="Leicestershire">Leicestershire</option>
                                <option value="Lincolnshire">Lincolnshire</option>
                                <option value="Merseyside">Merseyside</option>
                                <option value="Norfolk">Norfolk</option>
                                <option value="Northamptonshire">Northamptonshire</option>
                                <option value="Northumberland">Northumberland</option>
                                <option value="North Yorkshire">North Yorkshire</option>
                                <option value="Nottinghamshire">Nottinghamshire</option>
                                <option value="Oxfordshire">Oxfordshire</option>
                                <option value="Rutland">Rutland</option>
                                <option value="Shropshire">Shropshire</option>
                                <option value="Somerset">Somerset</option>
                                <option value="South Yorkshire">South Yorkshire</option>
                                <option value="Staffordshire">Staffordshire</option>
                                <option value="Suffolk">Suffolk</option>
                                <option value="Surrey">Surrey</option>
                                <option value="Warwickshire">Warwickshire</option>
                                <option value="West Midlands">West Midlands</option>
                                <option value="West Sussex">West Sussex</option>
                                <option value="West Yorkshire">West Yorkshire</option>
                                <option value="Wiltshire">Wiltshire</option>
                                <option value="Worcestershire">Worcestershire</option>
                            </select>
                            <select name="days">
                                <option value="1 day">1 day</option>
                                <option value="1 week">1 week</option>
                                <option value="2 weeks">2 weeks</option>
                                <option value="1 month">1 month</option>
                                <option value="All time" selected="selected">All time</option>
                            </select>
                            <button class="btn btn-primary btn-sm">Filter by region/time</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center" style=" width:70%;padding-right: 15%;">
                {% if undelivered_jobs_count > 0 or unallocated_jobs_count > 0 %}
                    <div id="undelivered_vs_unallocated" style="height: 300px; width: 100%;"></div>
                {% else %}
                    <h4 style="margin-top: 40%">No Data To Show</h4>
                {% endif %}
            </div>
        </div>



        <div class="container" style="margin-top:0.5em;">
            <div class="row">
                <div class="col-sm">
                    {#  Undelivered JOBS  #}
                    <div class="text-white bg-warning mb-3" style="overflow-y: scroll; height:400px;">
                        <div class="card-header">
                        <h10 class="card-title">{{ undelivered_jobs_count }} Jobs Yet To Be Delivered</h10>
                            <i style="margin-left: 15px" class="text-dark small">Ordered by Expected Delivery Date</i>
                        </div>
                        <div class="card-body">
                            {% if undelivered_jobs.count > 0 %}
                                <table class="table bg-warning" style="border-top: none">
                                    <tr style="border:none">
                                        <th class="text-center"> JOB ID</th>
                                        <th class="text-center"> PRODUCT</th>
                                        <th class="text-center"> CUSTOMER</th>
                                        <th class="text-center"> DUE DELIVERY</th>
                                        <th class="text-center"> STAFF</th>
                                    </tr>
                                    {% for job in undelivered_jobs %}
                                        <tr>
                                            <td class="text-white text-center"><a class="text-white" href="/admin/rentalsystem/job/{{job.id}}/"><u> {{ job.id }} </u></a></td>
                                            <td class="text-white text-center">  {{ job.transaction_id.item_id }} </td>
                                            <td class="text-white text-center">  {{ job.transaction_id.renter_id }} </td>
                                            <td class="text-white text-center">  {{ job.due_delivery_datetime }} </td>
                                            <td class="text-white text-center">  {{ job.job_list_id.staff_id }} </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>

                    {#  LATE JOBS  #}
                    <div class="text-white bg-danger mb-3" style="overflow-y: scroll; height:400px;">
                        <div class="card-header">
                            <h10 class="card-title">{{ unallocated_jobs_count }} job(s) without assigned Staff</h10>
                            <i style="margin-left: 15px" class="text-dark small">Ordered by Expected Delivery Date</i>
                        </div>
                        <div class="card-body">
                            {% if unallocated_jobs_count > 0 %}
                                <table class="table bg-danger" style="border-top: none">
                                    <tr style="border:none">
                                        <th class="text-center"> JOB ID</th>
                                        <th class="text-center"> PRODUCT</th>
                                        <th class="text-center"> CUSTOMER</th>
                                        <th class="text-center"> DUE DELIVERY</th>
                                        <th class="text-center"> NO STAFF</th>
                                    </tr>
                                    {% for job in unallocated_jobs %}
                                        <tr>
                                            <td class="text-white text-center"><a class="text-white" href="/admin/rentalsystem/job/{{job.id}}/"><u> {{ job.id }} </u></a> </td>
                                            <td class="text-white text-center">  {{ job.transaction_id.item_id }} </td>
                                            <td class="text-white text-center">  {{ job.transaction_id.renter_id }} </td>
                                            <td class="text-white text-center">  {{ job.due_delivery_datetime }} </td>
                                            <td class="text-white text-center"><button class="btn btn-sm btn-primary">
                                                <a class="text-white" href="/admin/rentalsystem/job/{{ job.id }}/change"> Assign Staff </a></button></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{#----------------------------------------------#}


<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
    window.onload = function () {

        CanvasJS.addColorSet("pieChartColours",
            [//colorSet Array

            "#28a745",
            "#ffc107",
            "#dc3545",             
            ]);

        var on_time_vs_late_chart = new CanvasJS.Chart("on_time_vs_late",
            {
                theme: "light1",
                backgroundColor: "#f8f9fa",
                colorSet: "pieChartColours",
                height: 300,
                width: 350,
                title: {
                    text: "On-Time vs Late"
                },
                data: [
                    {
                        type: "pie",
                        showInLegend: true,
                        toolTipContent: "{y} - #percent %",
                        yValueFormatString: "#### Deliveries",
                        legendText: "{indexLabel}",
                        dataPoints: [
                            {y: {{ on_time_jobs_count }}, indexLabel: "On-Time"},
                            {y: {{ late_jobs_count }}, indexLabel: "Late"},
                        ]
                    }
                ]
            });

        var undelivered_vs_unallocated_chart = new CanvasJS.Chart("undelivered_vs_unallocated",
            {
                theme: "light1",
                backgroundColor: "#f8f9fa",
                colorSet: "pieChartColours",
                height: 300,
                width: 350,
                title: {
                    text: "Unallocated Jobs"
                },
                data: [
                    {
                        type: "pie",
                        showInLegend: true,
                        toolTipContent: "{y} - #percent %",
                        yValueFormatString: "#### Jobs",
                        legendText: "{indexLabel}",
                        dataPoints: [
                            {y: {{ undelivered_jobs_count }}, indexLabel: "Not Delivered", color:"#ffc107"},
                            {y: {{ unallocated_jobs_count }}, indexLabel: "No Staff Member", color: "#dc3545"},
                        ]
                    }
                ]
            });
            on_time_vs_late_chart.render();
            undelivered_vs_unallocated_chart.render();

    }

</script>
<script>
    function openStatsTab(evt, statsPage) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(statsPage).style.display = "block";
        evt.currentTarget.className += " active";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
    
    

    
{% endblock %}