{% extends 'rentalsystem/base.html' %}

{% block title %}My Jobs{% endblock %}

{% block content %}
    <h2>Your current jobs</h2><br>
    <table class="table">
    <tr>
        <th>Job ID</th>
        <th>Product</th>
        <th>Address</th>
        <th>Due Date</th>
        <th>Delivered Date</th>
        <th>Mark as delivered</th>
    </tr>
    {% for job in jobs %}
        {% if job.delivered_datetime is None%}      
            <tr class="table-danger">
        {% else %}
            <tr class="table-success">
        {% endif %}           
            <td>{{ job.id }}</id>
            <td>{{ job.transaction_id.item_id }}</td>
            <td>
                {{ job.address1 }} <br>
                {% if job.address2 is not None %}
                    {{ job.address2 }} <br>
                {% endif %}
                {% if job.address3 is not None %}
                    {{ job.address3 }} <br>
                {% endif %}
                {% if job.address4 is not None %}
                    {{ job.address4 }} <br>
                {% endif %}
                {% if job.address5 is not None %}
                    {{ job.address5 }} <br>
                {% endif %}
                {{ job.county }} <br>
                {{ job.post_code }} <br>
            </td>
            <td>{{ job.due_delivery_datetime }}</td>
            <td>
                {% if job.delivered_datetime is None%}
                    Delivery outstanding
                {% else %}
                    {{ job.delivered_datetime }}
                {% endif %}            
            </td>
            <td>
            {% if job.delivered_datetime is None%}      
                <form action='/myjobs/' method='POST'>
                    {% csrf_token %} 
                    <input type="hidden" name="jobpk" value="{{job.id}}">
                    <button class="btn btn-primary">Job {{job.id}} completed</button>
                </form>
            {% else %}

            {% endif %}
            </td>
        </tr>
    {% endfor %}

    </table>
{% endblock %}