{% extends "base.html" %}
{% block title %}Details for {{ Item.name }} {% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <form class="form-horizontal" method="post" action="{% url 'post_item_complete' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <p>Title: {{item_name}}</p>
                    <p>Description: {{info}}</p> 
                    <p>Cost per day: {{cost}}</p>
                    <input type="hidden" value="{{item_name}}" name = "i_name">
                    <input type="hidden" value="{{info}}" name = "i_info">
                    <input type="hidden" value="{{cost}}" name = "i_cost">
                    <input type="hidden" value="{{i_id}}" name = "i_id">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <button class="btn btn-success center-block" value="post_item">Post This Item</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form class="form-horizontal" method="post" action="{% url 'user_post_item' %}" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="col-lrg-12 text-center">
                        <input type="hidden" value="{{item_name}}" name = "i_name">
                        <input type="hidden" value="{{i_id}}" name = "i_id">
                        <input type="hidden" value="{{info}}" name = "i_info">
                        <input type="hidden" value="{{cost}}" name = "i_cost">
                        <button class="btn btn-warning center-block" value="edit_item">Edit Item</button>
                    </div>

            </form>
        </div>
    </div>
    </div>



{% endblock %}