{% extends 'rentalsystem/base.html' %}

{% block title %}Leave Review{% endblock %}

{% block content %}


    <div class="container-fluid white-container">
    <h2 class="text-center text-info">Leave a review</h2><br>
	<div class="row">
		<div class="col-md-3">
            <a href="#"><img class="card-img-top" src="{{ transaction.item_id.item_type_id.image.url }}" height="200" width="auto"></a>
		</div>
		<div class="col-md-9">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Item</th>
                    <th>Total Cost</th>
                    <th>Rented From</th>
                    <th>Returned</th>
                    <th>Owner</th>
                </tr>
                <tr>
                    <td> {{ transaction.id }} </td>
                    <td> {{ transaction.item_id }} </td>
                    <td> £{{ transaction.total_cost }} </td>
                    <td> {{ transaction.start_date }} </td>
                    <td> {{ transaction.end_date }} </td>
                    <td> {{ transaction.owner_id.name }} </td>
                </tr>
            </table>

            <div class="container-fluid bg-light">
                <form action='/review_confirmation/' method='POST'>
                    {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="row" style="margin-top: 2em">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-4">
                                     <h5 class="text-dark">Rate Game</h5>
                                </div>
                                <div class="col-md-8" style="margin-top: 1em">
                                    <input type="radio" name="itemrating" value="1">
                                      <span class="checkmark"></span>

                                      <input type="radio" name="itemrating" value="2">
                                      <span class="checkmark"></span>

                                      <input type="radio" name="itemrating" checked="checked" value="3">
                                      <span class="checkmark"></span>


                                      <input type="radio" name="itemrating" value="4">
                                      <span class="checkmark"></span>

                                      <input type="radio" name="itemrating" value="5">
                                      <span class="checkmark"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-center" style="margin-top: 1em">
                                     <h5 class="text-dark">Rate Condition</h5>
                                </div>
                                <div class="col-md-8 .bg_secondary" style="margin-top: 1.5em">
                                      <input type="radio" name="transactionrating" value="1">
                                      <span class="checkmark"></span>

                                      <input type="radio" name="transactionrating" value="2">
                                      <span class="checkmark"></span>

                                      <input type="radio" name="transactionrating" checked="checked" value="3">
                                      <span class="checkmark"></span>


                                      <input type="radio" name="transactionrating" value="4">
                                      <span class="checkmark"></span>

                                      <input type="radio" name="transactionrating" value="5">
                                      <span class="checkmark"></span>
                                </div>
                            </div>

                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h4 class="text-info text-center">Review:</h4>
                        <div class="row">
                            <div class="col-md-12 input-group">
                                <textarea class="form-control" rows="5" id="review_message" name="review_message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bg-light">
                <div class="col-lg-5"></div>
                <div class="col-lg-2">
                    <input type="hidden" name="transactionpk" value="{{transaction.id}}">
                    <button class="btn btn-primary btn-sm">Leave Review!</button>
                </form>
                </div>
                <div class="col-lg-5"></div>
            </div>

		</div>
	</div>
</div>







{% endblock %}
