.searchBar  {
  margin-bottom: 20px;
  display: flex;
}

.searchBar input {
  flex: 2;
}

.searchBar button {
  flex: 1;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.image-preview{
  width: 100%;
}

.center-text {
  text-align: center;
}

.rent-btn {
  right: 15px;
  position: absolute;
  padding: 10px;
  width: 96%;
  margin-top: 12px;
}

.border-bottom {
  border-bottom: 1px solid grey
}

.listing-img {
  width: 500px;
}

.footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background-color: #343a40;
  position: relative;
  bottom: 0px;
  margin-top: 32px;
}
