


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.searchBar  {
  margin-bottom: 20px;
  display: flex;
}

.searchBar input {
  flex: 2;
}

.searchBar button {
  flex: 1;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-128 {
  margin-top: 128px;
}

.mb-128 {
  margin-bottom: 128px;
}

.image-preview{
  width: 100%;
}

.center-text {
  text-align: center;
}

.rent-btn {
  right: 15px;
  position: absolute;
  padding: 10px;
  width: 96%;
  margin-top: 12px;
}

.border-bottom {
  border-bottom: 1px solid grey
}

.listing-img {
  width: 500px;
}

.footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background-color: #343a40;
  margin-top: 32px;
}

<!---->
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
